
#game1 {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/0/0c/Witcher_3_cover_art.jpg);
  background-size: cover;
          }
          #game2 {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/a/af/Cover_Art_of_Metro_Exodus.png);
  background-size: cover;
          }
          #game3 {
  background-image: url(http://192.168.0.6:8385/rimworld.jpg);
  background-size: cover;
          }
          #game4 {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/09/Goat_Simulator_3_cover_art.png/220px-Goat_Simulator_3_cover_art.png);
  background-size: cover;
          }
          #game5 {
  background-image: url(http://192.168.0.6:8385/carx-drift-racing.jpg);
  background-size: cover;
          }
          #game6 {
  background-image: url(http://192.168.0.6:8385/need-for-speed-underground-2-keyart.jpg.adapt.crop3x5.533p.jpg);
  background-size: cover;     
          }  
          #game7 {
  background-image: url(http://192.168.0.6:8385/gardensimulator.jpg);
  background-size: cover;
          }
          #game8 {
  background-image: url(http://192.168.0.6:8385/Need_for_Speed_Carbon_Game_Cover.jpg);
  background-size: cover;
          }
          #game9 {
  background-image: url(http://192.168.0.6:8385/melatonin.jpg);
  background-size: cover;
          }
          #game10 {
  background-image: url(http://192.168.0.6:8385/wrc-generations.jpg);
  background-size: cover;
          }
          #game11 {
  background-image: url(http://192.168.0.6:8385/settlers.jpg);
  background-size: cover;
          }
          #game12 {
  background-image: url(http://192.168.0.6:8385/Need_for_Speed_Carbon_Game_Cover.jpg);
  background-size: cover;
          }
          #game13 {
  background-image: url(http://192.168.0.6:8385/need-for-speed-most-wanted.jpg);
  background-size: cover;
          }
          #game14 {
  background-image: url(http://192.168.0.6:8385/god-of-war.jpg);
  background-size: cover;
          }
          #game15 {
  background-image: url(http://192.168.0.6:8385/BeamNGdrive_cover.png);
  background-size: cover;
          }
          #game16 {
  background-image: url(http://192.168.0.6:8385/Gungrave.jpg);
  background-size: cover;
          }
          #game17 {
  background-image: url(http://192.168.0.6:8385/hl_alyx.jpg);
  background-size: cover;
          }
          #game18 {
  background-image: url(http://192.168.0.6:8385/NFS-UNBOUND-PC-COVER.jpg);
  background-size: cover;
          }
          #game19 {
  background-image: url(http://192.168.0.6:8385/one_peace_odyssey.jpg);
  background-size: cover;
          }
          #game20 {
  background-image: url(http://192.168.0.6:8385/portal-with-rtx.jpg);
  background-size: cover;
          }
          #game21 {
  background-image: url(http://192.168.0.6:8385/stick_of_truth.jpg);
  background-size: cover;
          }
          #game22 {
  background-image: url(http://192.168.0.6:8385/superhot_vr.jpg);
  background-size: cover;
          }
          #game23 {
  background-image: url(http://192.168.0.6:8385/Yomi_Hustle.png);
  background-size: cover;
          }
          #game24 {
  background-image: url(http://192.168.0.6:8385/bonelab.jpg);
  background-size: cover;
          }
          #game25 {
  background-image: url(http://192.168.0.6:8385/boneworks-cover.jpg);
  background-size: cover;
          }
          #game26 {
  background-image: url(http://192.168.0.6:8385/rouge_ai.jpg);
  background-size: cover;
          }
          #game27 {
  background-image: url(http://192.168.0.6:8385/brewmaster-cover.jpg);
  background-size: cover;
          }
          #game28 {
  background-image: url(http://192.168.0.6:8385/brotato-cover.jpg);
  background-size: cover;
          }
          #game29 {
  background-image: url(http://192.168.0.6:8385/Dead%20Cells.jpg);
  background-size: cover;
          }
          #game30 {
  background-image: url(http://192.168.0.6:8385/euro_truck_simulator_2.jpg);
  background-size: cover;
          }
          #game31 {
  background-image: url(http://192.168.0.6:8385/Evil.West.jpg);
  background-size: cover;
          }
          #game32 {
  background-image: url(http://192.168.0.6:8385/factorio-cover.png);
            background-size: cover;
          }
          #game33 {
  background-image: url(http://192.168.0.6:8385/john_brick.jpg);
  background-size: cover;
          }
          #game34 {
  background-image: url();
  background-size: cover;
          }
          #game35 {
  background-image: url();
  background-size: cover;
          }
          #game36 {
  background-image: url();
  background-size: cover;
          }
          #game37 {
  background-image: url();
   background-size: cover;
          }
            #game34 {
  background-image: url();
  background-size: cover;
          }
          #game35 {
  background-image: url();
  background-size: cover;
          }
          #game36 {
  background-image: url();
  background-size: cover;
          }
          #game37 {
  background-image: url();
  background-size: cover;
          }                
          #game34 {
  background-image: url();
  background-size: cover;
          }
          #game35 {
  background-image: url();
  background-size: cover;
          }
          #game36 {
  background-image: url();
  background-size: cover;
          }
          #game37 {
  background-image: url();
  background-size: cover;
          }
          #game38 {
  background-image: url();
  background-size: cover;
          }        



/* Rami */


  